<a href="https://colab.research.google.com/github/NIRANJAN123102/Python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SETS

In [1]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,2000}
print(Element)

{2000, 'rajkumar', 500, 'sonu', 1000, 'srihari', 'Rakesh'}

In [2]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)

{'rajkumar', 500, 'sonu', 1000, 'srihari', 'Rakesh'}

In [3]:
bool_values={True,False,1,0}
print(bool_values)
print(len(bool_values))

{False, True}
2

In [4]:
a={"Rakesh","sonu"}
b={1,2,3,4,5,}
c={True,False}
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

{'sonu', 'Rakesh'}
{1, 2, 3, 4, 5}
{False, True}
2
5
2

In [5]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)
print(type(Element))

{'rajkumar', 500, 'sonu', 1000, 'srihari', 'Rakesh'}
<class 'set'>

In [6]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print(Element)
print(type(Element))

{'sonu', 1000, 'srihari', 'Rakesh', 'rajkumar', 500}
<class 'set'>

In [7]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
for value in Element:
  print(value)

sonu
1000
srihari
Rakesh
rajkumar
500

In [8]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print("Rakesh" in Element)
print("rajkumar" not in Element)

True
False

In [9]:
Element={"Rakesh","rajkumar","sonu","srihari"}
print(Element)
Element.add("das")
print(Element)

{'sonu', 'srihari', 'rajkumar', 'Rakesh'}
{'sonu', 'srihari', 'Rakesh', 'rajkumar', 'das'}

In [10]:
Element={"Rakesh","rajkumar","sonu","srihari"}
point={"mango","apple","banana"}
Element.update(point)
print(Element)

{'rajkumar', 'apple', 'banana', 'sonu', 'mango', 'srihari', 'Rakesh'}

In [11]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.remove("rajkumar")
print(Element)

{'sonu', 'srihari', 'Rakesh'}

In [12]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.discard("rajkumar")
print(Element)

{'sonu', 'srihari', 'Rakesh'}

In [13]:
Element={"Rakesh","rajkumar","sonu","srihari"}
a=Element.pop()
print(a)
print(Element)

sonu
{'srihari', 'rajkumar', 'Rakesh'}

In [14]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.clear()
print(Element)

set()

In [15]:
Element={"Rakesh","rajkumar","sonu","srihari"}
for value in Element:
  print(value)

sonu
srihari
rajkumar
Rakesh

# ***LIST***

In [16]:
list=['rakesh','2003']
print(list)
del list[1]
print(list)

['rakesh', '2003']
['rakesh']

In [17]:
name=["Rakesh",'manji','suvali']
DOB=[2003,2004,2005]
print("name with maximum character",max(name))
print("name with minimum character",min(name))
print("DOB with maximum character",max(DOB))
print("DOB with minimum character",min(DOB))

name with maximum character suvali
name with minimum character Rakesh
DOB with maximum character 2005
DOB with minimum character 2003

In [18]:
name=['rakesh','suvalli']
print("member: ",name)
name.insert(1,"manji")
print("member: ",name)

member:  ['rakesh', 'suvalli']
member:  ['rakesh', 'manji', 'suvalli']

In [19]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.pop()
print("member: ",name)
name.pop(1)
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['rakesh', 'suvalli']
member:  ['rakesh']

In [20]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.remove("manji")
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['rakesh', 'suvalli']

In [21]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.reverse()
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['manji', 'suvalli', 'rakesh']

In [22]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.sort()
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['manji', 'rakesh', 'suvalli']

### **TUPLES**

In [23]:
tuple=("rakesh","vikram","ajay","ambadas")
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('rakesh', 'vikram', 'ajay', 'ambadas')
rakesh
('rakesh', 'vikram')
('rakesh', 'vikram', 'ajay', 'ambadas')
('ambadas', 'ajay', 'vikram', 'rakesh')
('ajay', 'vikram')

In [24]:
tuple=("rakesh","vikram","ajay","ambadas")
tg=(200,2004,2002)
print(tuple*2)
print(tuple+tg)
list=["pavan","phanindra","rahul"]
print(list)
list[0]="rajkumar"
print(list)

('rakesh', 'vikram', 'ajay', 'ambadas', 'rakesh', 'vikram', 'ajay', 'ambadas')
('rakesh', 'vikram', 'ajay', 'ambadas', 200, 2004, 2002)
['pavan', 'phanindra', 'rahul']
['rajkumar', 'phanindra', 'rahul']

# **DICTIONARY**

In [25]:
dict={}
print(dict)
dict["one"]="my opinon is my own"
print(dict)
dict["2"]="my self"
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'my opinon is my own'}
{'one': 'my opinon is my own', '2': 'my self'}
dict_keys(['one', '2'])
dict_values(['my opinon is my own', 'my self'])

In [26]:
base={"name":"rakesh","marks":848}
print(base)
print(base["name"])
print(base["marks"])
base["marks"]=900
print(base)
base["name"]="sonu"
print(base)
print(base.keys())
print(base.values())

{'name': 'rakesh', 'marks': 848}
rakesh
848
{'name': 'rakesh', 'marks': 900}
{'name': 'sonu', 'marks': 900}
dict_keys(['name', 'marks'])
dict_values(['sonu', 900])